// RESPONSIVE BREAKPOINTS

$bp-largest: 75em;   // 1200px   1200 / 16 = 75
$bp-large: 62.5em;   // 1000px;
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

//*****************************стандартное обнуление **************************

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html{
    box-sizing: inherit;
    font-size: 62.5%;                   // 10px/16px = 62.5% -> 1rem = 10px  
    height: 100%;
    overflow-x: hidden;
    /*does NOT work on SAFARI*/

    /*scroll-behavior: smooth;*/

    @media only screen and (max-width: $bp-largest) {
        font-size: 56.25%; 
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 50%; 
    }
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1;
    color: $color-grey-1;

    /* ******TO HIDE MOBILE NAVIGATION *********/
    overflow-x: hidden;
    
}

img, picture, video, canvas, svg {     //     Improve media defaults
    display: block;
    max-width: 100%;
}
             
input, button, textarea, select {      // Remove built-in form typography styles
    font: inherit;
  }

p, h1, h2, h3, h4, h5, h6 {            //Avoid text overflows
    overflow-wrap: break-word;
  }