
//************** COLORS  *******************

$color-primary: rgb(230, 126, 34);
$color-primary-hover: #cf711f;

$color-bg: #fdf2e9;
$color-bg-2: #fae5d3;

$color-grey-1: #555;
$color-grey-2: #333;
$color-grey-3: #6f6f6f;

//************** FONTS   *******************


//*********** BREAKPOINTS   ****************
$bp-largest: 75em;   // 1200px   1200 / 16 = 75
$bp-large: 59em;   // 1000px;
$bp-medium: 44em;    // 800px;
$bp-small: 37.5em;    // 600px;